* {
    margin: 0;
    padding: 0;

}

.main {
    background-image: url(assests/images/main.jpeg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px 100vw);
   


}
.align{
    padding-left: 80px;
    padding-top: 0 5 rem;
    box-sizing: border-box;
    display: inherit;
    padding-right: 150px;
    box-sizing: border-box;
}
.btn-red {
    font-weight: bold;
    background: #e50914;
  color: #fff;
  border-radius: 4px;
   justify-content: center;
    height: 32px;
    padding: 0 16px;
    border: none;
    line-height: 1;
    cursor: pointer;


}
.gap{
    display:inline-flex;
    align-items: center;
    gap: 12px;
   
}

body {
    background-color: black;
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.57;
    top: 0;
    position: absolute;
    
   
   

}
.lang-pick{
        background: rgba(22, 22, 22, 0.7);
    align-items: center;
    position: relative;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    height: 32px;
    padding: 0 28px 0 30px;
}
.lang-pick select{
    padding-right: 8px;
    color: #fff;
    background: transparent;
    font-size: 14px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    

}
.lang-pick select option{
    background-color: #fff2f2;
    color: #000000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

nav img {
    width: 148px;
    height: auto;
    padding: 25px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button:nth-child(2) {
    position: relative;
    z-index: 10;
    border: 2px solid red;
    background-color: red;
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 3px;


}

nav button {
    position: relative;
    z-index: 10;
    border: 2px solid rgb(35, 29, 29);
    background-color: rgb(34, 34, 34);
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 3px;
}


.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 5px;

}

.basic {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 68px;
    line-height: 125%;
    gap: 80px;



}

.hero :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 25px;
    color: white;
    line-height: normal;
    font-weight: 500;
    font-style: bold;
    gap: 10px;
    margin: 4px;
    padding: 10px;
}

.hero :nth-child(4) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-size: 16px;
}

.btn {
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 5px;
    background: rgb(219, 0, 11);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 15px;
    width: 230px;

}

.first {
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    align-items: center;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.23);
    font-weight: 500;
    background: transparent;
    width: 360px;
    padding: 15px;
    position: relative;
    z-index: 10;
    color: white;
}



.trending {
    color: white;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 70px;
    display: block;
    font-display: optional;
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 33px;
    padding-top: 0px;
    margin-left: 300px;
}

.border {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.poster {
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.item {
    position: relative;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: visible;
    /* overflow-x: scroll; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin-left: 300px;
    
}

.li-style {

    width: 8.75rem;
    height: 12.25rem;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 2;
    position: relative;
    padding: 10px;
    flex: 0 0 auto;
   
}
.li-style-2{
    width: 8.75rem;
    height: 12.25rem;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.next{
 
    position: absolute;
    height: 100%;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3;
    background: rgb(0, 0, 0);
    right: 0px;
    padding-left: 0.75rem;
    transition: transform 400ms ease-in-out;

}

.point{
        height: 7.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}