*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(assests/images/main.jpeg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px 100vw);

}
.main .box{
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.59;
    top: 0;
    position: absolute;

}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80vw;
}
nav img{
    width: 102px;
    padding: 25px;
    color : red;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
    border: 2px solid red;
    background-color: red;
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding:5px;
    justify-content: center;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    display: inline-flex;
    font-display: optional;

    
}