* {
    margin: 0;
    padding: 0;

}

.main {
    background-image: url(assests/images/main.jpeg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px 100vw);


}

body {
    background-color: black;
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.57;
    top: 0;
    position: absolute;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    padding: 5px;
}

nav img {
    width: 102px;
    padding: 25px;
    color: red;
    position: relative;
    z-index: 10;
}

nav button:nth-child(2) {
    position: relative;
    z-index: 10;
    border: 2px solid red;
    background-color: red;
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 3px;


}
nav button{
    position: relative;
    z-index: 10;
    border: 2px solid rgb(35, 29, 29);
    background-color: rgb(34, 34, 34);
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 3px;
}


.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 5px;

}

.basic {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 68px;
    line-height: 125%;
    gap: 80px;



}

.hero :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 25px;
    color: white;
    line-height: normal;
    font-weight: 500;
    font-style: bold;
    gap: 10px;
    margin: 4px;
    padding: 10px;
}

.hero :nth-child(4) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-size: 16px;
}

/* /* .btn {
    background-color: red;
    color: white;
    padding: 11px;
    margin: 8px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-size: 30px;
    border: 1px solid red;
    border-radius: 2px;
    flex: 0 0 auto;
} */
.btn {
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.first{
   font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    align-items: center;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.23);
    font-weight: bold;
    background: transparent;
}
.btn-red{
    font-weight: bold;
}