* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.main {
    background-image: url(assests/images/main.jpeg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    max-width: 100%;
}

.align {
    padding-left: 80px;
    padding-top: 0 5 rem;
    box-sizing: border-box;
    display: inherit;
    padding-right: 150px;
    box-sizing: border-box;
}

.btn-red {
    
    background: #e50914;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 92px;
    border: none;
    cursor: pointer;
    font-style: normal;
    margin: -17px;
    padding: 4px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    padding-right: 21px;



}

/* .gap {
    display: inline-flex;
    align-items: center;
    gap: 12px; */

/* } */

body {
    background-color: black;
    /* height: 100%; */
    margin: 0;
}

.main .box {
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 1;
    top: 0;
    position: absolute;

}

.lang-pick {
    background: rgba(22, 22, 22, 0.7);
    align-items: center;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 4px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    line-height: 12px;
    font-size: 16px;
    padding: 4px;
    padding-left: 15px;
    margin: 25px;
    box-sizing: border-box;
    padding-top: 0 5 rem;


}

.lang-pick select {
    padding-right: 8px;
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 16px;



}

.lang-pick select option {
    background-color: #fff2f2;
    color: #000000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

nav img {
    width: 148px;
    height: auto;
    padding: 25px;
    color: red;
    position: relative;
    z-index: 10;
}

/* nav button:nth-child(2) {
    position: relative;
    z-index: 10;
    border: 2px solid red;
    background-color: red;
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 4px;
    padding-right: 22px;


} */

nav button {
    position: relative;
    z-index: 10;
    border: 2px solid rgb(35, 29, 29);
    background-color: rgb(34, 34, 34);
    color: white;
    box-sizing: border-box;
    flex: 0 auto;
    padding: 5px;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: inline-flex;
    font-display: optional;
    font-style: normal;
    font-weight: 400;
    size: 16px;
    line-height: 20px;
    font-weight: bold;
    word-spacing: 2px;
    border-radius: 3px;
}


.hero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 5px;
    padding: 2px;
    padding-left: 13px;
    margin: -20px;

}

.basic {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 80px;
}

.hero :nth-child(3) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    color: white;
    line-height: normal;
    font-weight: 500;
    font-style: bold;
    gap: 10px;
    margin: 4px;
    padding: 10px;
    padding-right: 54px;
}

.hero :nth-child(4) {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-size: 16px;
    padding-right: 32px;
    padding-top: 17px;
}

.btn {
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 5px;
    background: rgb(219, 0, 11);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 13px;
    width: 206px;

}

.first {
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    align-items: center;
    font-size: 20px;
    padding: 3px 24px;
    font-weight: 500;
    background: transparent;
    width: 360px;
    padding: 15px;
    position: relative;
    z-index: 10;
    color: white;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
}

.lab{
    color: rgba(255, 255, 255, 0.7);
    font-family: unset;
    font-size: 1rem;
    font-weight: 400;
    left: 1rem;
    line-height: 1.5;
    right: 1rem;
    top: 1rem;
}

.trending {
    color: white;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 70px;
    display: block;
    font-display: optional;
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 33px;
    padding-top: 0px;
    margin-left: 300px;
}

.border {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
        /* overflow-x: auto
    scroll-snap-type-x: mandatory;
    scrollbar-width: none; */

}

.poster {
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow-x: auto;
    scroll-snap-type-x: mandatory;
    scrollbar-width: none;
}
.poster::-webkit-scrollbar{
    display: none;
}

.item {
    position: relative;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: visible;
    overflow-x: scroll; 
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin-left: 300px;

}

.li-style {

    width: 8.75rem;
    height: 12.25rem;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 2;
    position: relative;
    padding: 10px;
    flex: 0 0 auto;

}

.li-style-2 {
    width: 8.75rem;
    height: 12.25rem;
    text-align: center;
    word-spacing: normal;
    letter-spacing: normal;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    background-size: cover;
    z-index: 2;
    position: relative;
}

.next {

    position: absolute;
    height: 100%;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 3;
    background: rgb(0, 0, 0);
    right: 0px;
    padding-left: 0.75rem;
    transition: transform 400ms ease-in-out;

}

.point {
    height: 7.5rem;
    width: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.number{
    position: absolute;
    bottom: 10px;
    left: -12px;
    font-size: 100px;
    color: black;
    -webkit-text-stroke: 2px white;
    font-style: bold;
    font-weight: bold;
}

.join{
   
    color: white;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 58px;
    display: block;
    font-display: optional;
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 33px;
    padding-top: 0px;
    margin-left: 72px;
    margin-top: 4rem;
}

.another-sec{
    margin-top: 30px;
    margin-left: 12vw;
    margin-left: 12vw;
    height:auto;
    width: 75vw;
    overflow: hidden;
   
    /* border: 1px solid red; */
}
.section{
    display: flex;
    gap: 15px;
    height: 350px;
    width: 60vw;
    margin-left: 124px;
    padding-top: 16px;
}
   


.card2{
    color: white;
     height: 325px;
    width: 40vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);   
    border-radius: 1rem;  
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

        --wct--layout-container--columnSpacing: 0px;
    --wct--layout-container--flexDirection: column;
     --wct--layout-container--padding-xs: 1.5rem 1rem 5rem 1rem; 
    --wct--layout-container--padding-s: 1.5rem 1rem 6rem 1rem;
    --wct--layout-container--padding-m: 1.5rem 1.5rem 6rem 1.5rem; 
    --wct--layout-container--padding-l: 1.5rem 1rem 8rem 1rem;
    --wct--layout-container--padding-xl: 1.5rem 1rem 8rem 1rem;
    --wct--layout-container--padding-xxl: 2rem 1.5rem 8rem 1.5rem;
    --wct--layout-container--padding-xxxl: 2rem 1.5rem 8rem 1.5rem;
    --wct--layout-container--rowSpacing-xs: 0.5rem;
     --wct--layout-container--rowSpacing-s: 0.5rem; 
    --wct--layout-container--rowSpacing-m: 0.75rem;
    --wct--layout-container--rowSpacing-l: 1rem;
    --wct--layout-container--rowSpacing-xl: 1rem;
    --wct--layout-container--rowSpacing-xxl: 1.5rem;
    --wct--layout-container--rowSpacing-xxxl: 1.5rem;
    --wct--layout-container--width: 100%;
    
   
}

.card2 h3{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: normal;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.card2 p{
    color: rgba(255, 255, 255, 0.7);
}

.smallimg{
    position: relative;
    left: 161px;
    top: 24px;
}
.question{
    color: white;
    padding: 0;
    font-weight: 700;
    padding-left: 58px;
    display: block;
    font-display: optional;
    font-family: font-family Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 22px;
    padding-top: 0px;
    margin-left: 291px;
    margin-top: 4rem;
}

.ques{
    list-style: none;
    padding: 1.5rem;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 337px;
}

.what-que{
    margin: 0;
    display: flex;
    font-size: inherit;
    margin-bottom: 0rem;
    position: relative;
    background-color: rgb(45,45,45);
    color: white;
    transition-duration: 250ms;
    transition-property: background-color, margin-bottom, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    border-radius: 0rem;
}

.li-style{
     
    margin: 0 0 0.5rem 0;
    width: 60rem;

}
.svg-icon{
    margin-left: 46rem;
    margin-top: 14px;
}
